.v-tab.v-tab {
  background-color: rgba(28, 28, 28, 0.03);
  border-radius: 24px !important;
  margin-right: 10px;
}

.v-tab.v-tab.v-tab--selected {
  background-image: linear-gradient($secondary, $primary);
  color: #fff;
  border: 0 !important;
  border-width: 0 !important;
}