.v-tab.v-tab {
  background-color: rgba(28, 28, 28, 0.03);
  border-radius: 24px !important;
  margin-right: 10px;
}

.v-tab.v-tab.v-tab--selected {
  background-image: linear-gradient($secondary, $primary);
  color: #fff;
  border: 0 !important;
  border-width: 0 !important;
}

.v-text-field {
  border-bottom: none !important;

  .v-input__control {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(226, 226, 226, 1.0);
    background-color: #fff !important;
    border-radius: 25px;
  }

  .v-field {
    background-color: #fff !important;
    border-radius: 25px;
  }

  .v-input__details {
    border: none !important
  }

  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
}

.v-bottom-navigation--active {
  .v-btn--active {
    color: $primary;

    .v-btn__overlay {
      background: transparent !important;
      background: none !important;
      opacity: 1;
    }

    .v-btn__overlay:after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-image: linear-gradient($secondary, $primary);
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      border-radius: 5px;
    }
  }
}

.v-toolbar__content {
  .v-btn {
    .v-btn__overlay {
      background: transparent !important;
      background: none !important;
    }
  }

}