body {
    font-family: $font-family, sans-serif;
    color: rgb(var(--v-theme-primary-text));
}

.v-application {
    [class*='text-'] {
        color: rgb(var(--v-theme-primary-text));
        font-family: $font-family, sans-serif !important;
    }

    color: rgb(var(--v-theme-primary-text));
    font-family: $font-family,
    sans-serif !important;
}

a {
    text-decoration: none;
    color: $text-link;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.streched {
    width: 100%;
}

.primary-btn {
    background-image: linear-gradient($secondary, $primary) !important;

    span {
        color: $text-light;
    }
}

.stretch {
    width: 100%;
}

.bg.primary {
    background-color: $primary;
}

.bg-google {
    background-color: $bg-google !important;
}

.bg-facebook {
    background-color: $bg-facebook !important;
}

.bg-apple {
    background-color: $bg-apple !important;
}

.mt--10 {
    margin-top: -17px;
}

.gap-10 {
    gap: 10px;
}

.slide-fade-enter-active {
    transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.5s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(0px);
    opacity: 0;
}

// popout alignment of datepicker
.popout-left {
    .v3dp__popout {
        right: 0px !important;
    }
}