@font-face {
  font-family: 'Nunito';
  src: url(fonts/nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}

$font-family: 'Nunito';

$primary: #0965CB;
$secondary: #04C785;
$accent: orange;

$text-primary: #12022F;
$text-light: #ffffff;
$text-link: #06A69D;

$bg-light: #ffffff;
$bg-light-accent: #1c1c1c0F;

$bg-google: #FBBC05;
$bg-facebook: #4D6FF8;
$bg-apple: #1C1C1C;